<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Tracking System</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/request-leave.css}">


</head>
<body>

<div th:insert="~{fragments/sidebar :: sidebar}"></div>
<!-- Main Content -->
<div class="main-content">
    <div class="header">
        <h1>Leave Tracking System</h1>
        <div class="user-info">
            <span class="username">Welcome, <!--<span th:text="${username}">User</span>-->!</span>
            <form action="/logout" method="post" class="logout-form">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>

    <!-- Table Section -->
    <div class="table-section">
        <h2>
            Leave Status
            <span style="float: right;">
                <button id="addLeaveBtn"
                        style="background-color: #008CBA; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 14px;">
                    Add Leave
                </button>
            </span>
            <span style="float: right;">
                <button id="todayLeavesBtn"
                        style="background-color: #008CBA; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 14px;">
                    Today's Leaves
                </button>
            </span>
        </h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Role</th>
                <th>Name</th>
                <th>Email</th>
                <th>Leave Start</th>
                <th>Leave End</th>
                <th>Status</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="leave : ${leaveRequestDtos}">
                <td th:text="${leave.id}"></td>
                <td th:text="${userRoles[leave.id]}"></td>
                <td th:text="${userNames[leave.id]}"></td>
                <td th:text="${userEmails[leave.id]}"></td>
                <td th:text="${leave.startDate}"></td>
                <td th:text="${leave.endDate}"></td>
                <td th:text="${statusValues[leave.id]}"></td>
                <!-- Buton Eklemek İçin Tablonun Güncellenmiş Hali -->
                <td class="description-cell">
                    <button class="view-description-btn" th:data-description="${leave.description}">View</button>
                </td>


                <td>
                    <form th:action="@{/updateLeaveStatus}" method="post">
                        <input type="hidden" name="leaveId" th:value="${leave.id}" />
                        <input type="hidden" name="status" value="2" />
                        <button th:if="${leave.status == 1}" id="trueButton"
                                style="background-color: #4CAF50; color: white; border: none; border-radius: 50%; width: 25px; height: 25px; cursor: pointer;">
                            ✓
                        </button>
                    </form>
                </td>
                <td>
                    <form th:if="${leave.status != 4}" th:action="@{/updateLeaveStatus}" method="post">
                        <input type="hidden" name="leaveId" th:value="${leave.id}" />

                        <!-- Status için koşullu değer atama -->
                        <input type="hidden" name="status" th:value="${leave.status == 1} ? 3 : 4" />

                        <button id="statusButton"
                                style="background-color: #F44336; color: white; border: none; border-radius: 50%; width: 25px; height: 25px; cursor: pointer;">
                            x
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:insert="~{fragments/leave-form :: leave-form}"></div>

<div th:insert="~{fragments/description-modal :: description-modal}"></div>

<!-- Modal Structure -->
<div id="userModal" class="userModal">
    <div class="modal-content-user">
        <span class="close-user">&times;</span>
        <h2>Today's Leaves</h2>
        <form>
            <table>
               <thead>
                   <tr>
                       <th>Role</th>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Leave Start</th>
                       <th>Leave End</th>
                   </tr>
               </thead>
                <tbody>
                    <tr th:each="leave : ${leaveRequestDtos}">
                        <td th:text="${userRoles[leave.getId()]}"></td>
                        <td th:text="${userNames[leave.getId()]}"></td>
                        <td th:text="${userEmails[leave.getId()]}"></td>
                        <td th:text="${leave.getStartDate()}"></td>
                        <td th:text="${leave.getEndDate()}"></td>
                    </tr>
                </tbody>
            </table>

           <button id="okButton" type="button">Ok</button>
        </form>
    </div>
</div>


<script th:src="@{/js/request-leave.js}"></script>
</body>
</html>