<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Tracking System</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/request-leave.css}">
</head>
<body>
<div th:insert="~{fragments/sidebar :: sidebar}"></div>

<!-- Main Content -->
<div class="main-content">
    <div class="header">
        <h1>Leave Tracking System</h1>
        <div class="user-info">
            <span class="username">Welcome, <span th:text="${username}">User</span>!</span>
            <form action="/logout" method="post" class="logout-form">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>

    <!-- Table Section -->
    <div class="container">
        <h2>
            Users
            <span style="float: right;">
                <button id="addUserButton"
                        style="background-color: #008CBA; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 14px;">
                    Add User
                </button>
            </span>
        </h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Remaining Day</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getName()+' '+user.getSurname()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td>
                    <span th:if="${user.role == 1}" th:text="'Admin'"></span>
                    <span th:if="${user.role == 2}" th:text="'Staff'"></span>
                </td>
                <td th:text="${user.getRemainingDay()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Structure -->
<div id="leaveModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add User</h2>
        <form th:action="@{/users/api/add}" method="post">

            <label for="roleList">Select Role</label>
            <select id="roleList" name="role" required>
                <option value="" disabled selected>Select User</option>
                <option value="1" th:text="Admin"></option>
                <option value="2" th:text="Staff"></option>
            </select>

            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="surname">Surname</label>
            <input type="text" id="surname" name="surname" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <button type="submit">Add User</button>
        </form>
    </div>
</div>


<script th:src="@{/js/user-list.js}"></script>

</body>
</html>
